<div class="flex flex-row border border-red-600 h-screen justify-center items-center gap-2">
    <div class="flex flex-col border border-black p-10 gap-3 justify-center">
        <div class="flex flex-row gap-4">
            <div class="flex flex-col">
                <label class="label label-text">Nombre</label>
                <input type="text" class="input input-primary input-sm">
            </div>
            <div class="flex flex-col">
                <label class="label label-text">Apellido</label>
                <input type="text" class="input input-primary input-sm">
            </div>
        </div>
        <div class="flex flex-col">
            <label class="label label-text">Correo</label>
            <input type="email" class="input input-primary input-sm">
        </div>
        <div class="flex flex-col">
            <label class="label label-text">Roles</label>
            <select class="select select-primary select-sm">
                <option >Seleccione</option>
            </select>
        </div>
        <div class="flex flex-col">
            <label class="label label-text">Contraseña</label>
            <input type="password" class="input input-primary input-sm">
        </div>
        <div class="flex flex-row justify-center">
            <button class="btn btn-primary">Registrar usuario</button>
        </div>
    </div>
    <div class="flex flex-col border border-black p-10 gap-3">
        <table class="table table-auto border-black">
            <tr>
                <th>Nombres y apellidos</th>
                <th>Correo</th>
                <th>Rol</th>
            </tr>
            <tr>

            </tr>
        </table>
    </div>
</div>