<div class="overflow-y-auto">
    <table class="table table-fixed ">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Nombre</th>
                <th>Modificado</th>
                <th>Tamaño del archivo</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let c of files" class="hover">
                <td>
                    <img class="size-8" src="{{c.icon}}">
                </td>
                <td>
                    <a href="#" class="no-underline hover:underline">{{c.nombre}}</a>
                </td>
                <td>{{c.modificado}}</td>
                <td>{{c.cantidad}}</td>
            </tr>
        </tbody>
    </table>
</div>