<div class="p-10">
    <div class="flex flex-col justify-center gap-4">
        <div class="flex flex-row gap-3 items-center">
        </div>
        
        <div class="flex flex-col">
            <div class="flex flex-col justify-between md:flex-row gap-3 md:p-0">
                <div
                    class="card shadow-2xl rounded-lg border border-base-content md:w-[30%] w-full bg-red-300">
                    <div class="card-body text-black">
                        <h3 class="text-left font-semibold text-base flex justify-between">Tareas pendientes
                            <span-lucide [img]="icons.clock"></span-lucide>
                        </h3>
                        <p class="text-left font-bold text-xl">{{contadorPendiente}}</p>
                        <div class="divider -mt-1 -mb-1"></div>
                    </div>
                </div>
                <div
                    class="card shadow-2xl rounded-lg border border-base-content md:w-[30%] w-full bg-green-300">
                    <div class="card-body text-black">
                        <h3 class="text-left font-semibold text-base flex justify-between">Tareas completadas
                            <span-lucide [img]="icons.circleCheck"></span-lucide>
                        </h3>
                        <p class="text-left font-bold text-xl">{{contadorTerminado}}</p>
                        <div class="divider -mt-1 -mb-1"></div>
                    </div>
                </div>
                <div
                    class="card shadow-2xl rounded-lg border border-base-content md:w-[30%] w-full bg-blue-300">
                    <div class="card-body text-black">
                        <h3 class="text-left font-semibold text-base flex justify-between">Total de tareas
                            <span-lucide [img]="icons.stadistic"></span-lucide>
                        </h3>
                        <p class="text-left font-bold text-xl">{{contadorTotales}}</p>
                        <div class="divider -mt-1 -mb-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider -mt-3 mb-0"></div>
        <div class="mt-5">
            <div class="flex flex-row justify-between mb-8">
                <div class="inline-flex justify-center items-center">
                     <h1 class="text-2xl font-semibold">Carpetas de proyectos</h1>
                </div>
                <div class="flex flex-row gap-2">
                    <button class="inline-flex justify-center items-center border bg-amber-300 rounded-lg p-2 text-sm font-medium text-black hover:bg-amber-400 hover:scale-105 transition duration-150">Agregar Carpeta</button>
                    <button class="inline-flex justify-center items-center border p-2 bg-orange-400 text-black rounded-lg text-sm font-medium hover:bg-orange-500 hover:scale-105 transition duration-150">Agregar Tarea</button>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>