<div class="main-container flex ">
    <div [ngClass]="{'w-20': !isLeftNavOpen(), 'w-72': isLeftNavOpen()}"
        class="siderbarflex flex-col w-72 py-6 px-4 bg-dark-pruple h-screen relative duration-300">
        <div class="siderbar-container logo h-[40px] flex items-center gap-x-2 mb-10">
            <fa-icon [ngClass]="{'rotate-[360deg]': !isLeftNavOpen()}" [icon]="faChalkboardTeacher" size="xl"
                class="bg-amber-300 w-fit text-dark-purple p-2 rounded-lg duration-300"></fa-icon>
            <span [ngClass]="{'scale-0': !isLeftNavOpen()}" class="text-white text-2xl font-bold duration-300">Tareas
                Battilana</span>
        </div>
        <fa-icon [ngClass]="{'rotate-180': !isLeftNavOpen(), '-mr-[2px]': isLeftNavOpen}"
            (click)="isLeftNavOpen.set(!isLeftNavOpen())" class="absolute text-dark-purple duration-300 -right-4 top-8 h-8 w-8 bg-white flex items-center 
    justify-center rounded-full border border-black cursor-pointer" [icon]="faArrowLeft" size="lg"></fa-icon>
        <div class="nav-items flex flex-col gap-y-2">
            @for (items of navItems; track $index) {
            <div class="nav-item flex items-center gap-x-2 p-4 rounded-lg hover:bg-slate-600 
        cursor-pointer" [ngClass]="{'justify-center': !isLeftNavOpen(), 'bg-slate-600': items.isActive}"
                (click)="handleActiveRoute(items, $index)">
                <fa-icon [icon]="items.icon" class="text-white" size="lg"></fa-icon>
                <span [ngClass]="{'hidden': !isLeftNavOpen()}"
                    class="text-white text-base font-medium">{{items.label}}</span>
            </div>
            }
        </div>
        <div class="nav-item flex items-center gap-x-2 p-4 rounded-lg hover:bg-slate-600 
        cursor-pointer" [ngClass]="{'justify-center': !isLeftNavOpen()}">
            <fa-icon [icon]="navLogout.icon" class="text-white" size="lg"></fa-icon>
            <span [ngClass]="{'hidden': !isLeftNavOpen()}"
                class="text-white text-base font-medium">{{navLogout.label}}</span>
        </div>
    </div>
    <div class="router-container flex-1 h-screen overflow-y-auto">
        <router-outlet></router-outlet>
    </div>
</div>